*{
    margin: 0;
}
header{
    background-color: blanchedalmond;
}
header img{
    height: 30px;
    width: auto;
}
header span{
    color: rgb(248, 178, 47);
}
header a{
    text-decoration: none;
}

#header{
    display: flex;
    height: 50px;
    justify-content: space-between;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
}
#header-logo{
    display: flex;
    align-items: center;
}
#header-link{
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-content: center;
    gap: 20px;
}
#header-login{
    background-color: blanchedalmond;
    padding: 7px 20px;
    border: 1px solid orange;
    border-radius: 5px;
}
#header-login:hover{
    background-color: rgb(20, 112, 112);
    color: white;
    border: 1px solid rgb(20, 112, 112);
    cursor: pointer;
}
#header-register{
    background-color: orange;
    padding: 7px 20px;
    border: 1px solid orange;
    border-radius: 5px; 
}
#header-register:hover{
    background-color: rgb(255, 0, 242);
    color: white;
    border: 1px solid rgb(255, 0, 242);
    cursor: pointer;
}
#header-mobile{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
    border-bottom: 1px solid black;
    height: 40px;
}
#banner{
    padding-left: 30px;
    padding-right: 30px;
    position: relative;

}
#banner-content{
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 40px;
    align-items: center;
    position: absolute;
    left: 0;
    top: 10px;
}
#banner img{
    width: 100%;
    height: auto;
}
.avatar{
    background-color: antiquewhite;
    padding: 10px;
    border-radius: 10px;
}
.Catagories{
    border-radius: 5px;
    height: 180px;
    justify-content: center;
    align-items: center;
}
#catagories img{
    padding: 10px;
    background-color: white;

}
#products{
    background-color: antiquewhite;
    padding-top: 30PX;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
}
#products-mobile{
    background-color: antiquewhite;
    padding-top: 30PX;
    padding-left: 20px;
    padding-right: 20px;
    margin-right: 0;
    padding-bottom: 30px;
    width: 100%;
    border-radius: 10px;
}
#products-mobile img{
    height: 300px;
    width: auto;
}
#price{
    display: flex;
    margin-top: 20px;
    margin-left: 30px;
    margin-right: 30px;
    gap: 10px;
}
#price-1{
    width: 60%;
    background: linear-gradient(to right, pink 10%, skyblue 90%);
    padding: 20px;
    margin-right: 10px;
    border-radius: 10px;
    height: 520px;
    position: relative;
}
#price-2{
    width: 40%;
    background: linear-gradient(to right, antiquewhite 10%, orange 90%);
    padding: 20px;
    border-radius: 10px;
    align-items: center;
    height: 520px;
    position: relative;  
}
#price-2 img{
    align-items: ;
}
#price-2-img{
    position: absolute;
    bottom: 0;
    right: 0;
}
#price-1-content{
    align-items: center;
    position: absolute;
    top: 35%;
}
#Browse{
    display: block;
    bottom: 0;
    left: 40px;
    bottom: 40px;
    margin-top: 150px;
}

footer{
    background-color: rgb(231, 231, 196);margin-top: 20px;
}
footer img{
    height: 30px;
    width: auto;
}
footer span{
    color: rgb(248, 178, 47);
}
#footer-paragragh{
    margin-top: 10px;
}
#footer{
    display: flex;
    height: 500px;
    align-content: flex-end;
    justify-content: space-between;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 200px;
}
#footer-logo{
    display: flex;
    align-items: center;

}
#find{
    display: block;
    width: 25%;
    margin-top: 150px;
}
#socail{
    margin-top: 150px;  
}
#Challange-1{
    display: flex;
    background-color: antiquewhite;
    position: relative;
    margin-right: 30px;
    margin-left: 30px;
    margin-top: 30px;
    gap: 50px;
    padding-right: 50px;
    border-radius: 10px;
    margin-bottom: -450px;
}
#Challange-1-img{
    width: 200px;
    align-items: center;
    justify-content: center;
    margin-right: 50px;

}
#challange-1 img{
    width: 100px;
}
#Challange-1-content{
    padding: 50px;
    align-items: center;
    justify-content: center;
    margin-left: 500px;
    padding-top: 50px;

}
@media only screen and (max-width: 560px){
    #header{
        display: none; 
    }
    #banner-btn-pc{
        display: none;
    }
    #banner{
        height: 400px;
        position: relative;
        width: 100%;
        padding-left: 30px;
        padding-right: 30px;
    }
    #banner-img{
        position: absolute;
        top: 120px;
        width: 100%;
        float: left;
        padding-right: 40px;
    }
    #banner img{
        float: left;
        width: 100%;
    }
    #banner-content{
        padding-left: 10px;
        padding-right: 0;
        margin-bottom: 10px;
        justify-content: center;
    }
    #Catagories-content{
        display: none;
    }
    .Catagories{
        height: 180px;
        width: 150px;
    }
    .Catagories img{
        float: center;
    }
    #products{
        display: none;
    }
    #price{
        display: block;
        gap: 20px;
    }
    #price-1{
        height: 400px;
        width: 100%;
        margin-bottom: 15px;
        position: relative;
    }
    #price-1-content{
        position: absolute;
        top: 10px;
        left: 10px;
    }
    #price-2{
        width: 100%;
        height: 400px;
    }
    #price-1-img{
        position: absolute;
        right: 0;
        bottom: 0;
    }
    #price img{
        width: 250px;
        height: auto;
    }
    #price-hide-1{
        display: none;
    }
    #price-hide-2{
        display: none;
    }
    header{
        background-color: blanchedalmond;
    }
    header img{
        height: 30px;
        width: auto;
    }
    header span{
        color: rgb(248, 178, 47);
    }
    #footer{
        display: block;
        gap: 20px;
    }
    #Challange-1{
        display: block;
        text-align: center;
    }
    #footer{
        display: block;
        height: 800px;
        padding-left: 50px;
        padding-right: 50px;
        margin-top: 200px;
}
    #browse{
        width: 100%;
        margin-top: 10px;
    }
    #footer-paragragh{
        text-align: left;
        width: 100%;
    }
    #find{
        width: auto;
        margin-top: 10px;
    }
    #socail{
        width: auto;
        margin-top: 10px;
    }
    #Challange-1{
        margin-bottom: -600px;
    }
}
@media only screen and (min-width: 1100px){
    #header-mobile{
        display: none;
    }
    #banner-btn-mobile{
        display: none;
    }
    #Catagories-content-mobile{
        display: none;
    }
    #products-mobile{
        display: none;
    }
}