*{
    margin: 0;
}
header{
    background-color: blanchedalmond;
}
header img{
    height: 30px;
    width: auto;
}
header span{
    color: rgb(248, 178, 47);
}
header a{
    text-decoration: none;
}

#header{
    display: flex;
    height: 50px;
    justify-content: space-between;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
}
#header-logo{
    display: flex;
    align-items: center;
}
#header-link{
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-content: center;
    gap: 20px;
}
#header-login{
    background-color: blanchedalmond;
    padding: 7px 20px;
    border: 1px solid orange;
    border-radius: 5px;
}
#header-login:hover{
    background-color: rgb(20, 112, 112);
    color: white;
    border: 1px solid rgb(20, 112, 112);
    cursor: pointer;
}
#header-register{
    background-color: orange;
    padding: 7px 20px;
    border: 1px solid orange;
    border-radius: 5px; 
}
#header-register:hover{
    background-color: rgb(255, 0, 242);
    color: white;
    border: 1px solid rgb(255, 0, 242);
    cursor: pointer;
}
#header-mobile{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
    border-bottom: 1px solid black;
    height: 40px;
}
#banner{
    padding-left: 30px;
    padding-right: 30px;
    position: relative;

}
#banner-content{
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 40px;
    align-items: center;
    position: absolute;
    left: 0;
    top: 10px;
}
#banner img{
    width: 100%;
    height: auto;
}
.avatar{
    background-color: antiquewhite;
    padding: 10px;
    border-radius: 10px;
}
.Catagories{
    border-radius: 5px;
    height: 180px;
    justify-content: center;
    align-items: center;
}
#catagories img{
    padding: 10px;
    background-color: white;
    align-items: center;
}
#products{
    background-color: antiquewhite;
    padding-top: 30PX;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
}
@media only screen and (max-width: 560px){
    #header{
        display: none; 
    }
    #banner-btn-pc{
        display: none;
    }
    #banner{
        height: 400px;
        position: relative;
        width: 100%;
        padding-left: 30px;
        padding-right: 30px;
    }
    #banner-img{
        position: absolute;
        top: 120px;
        width: 100%;
        float: left;
        padding-right: 40px;
    }
    #banner img{
        float: left;
        width: 100%;
    }
    #banner-content{
        padding-left: 10px;
        padding-right: 0;
        margin-bottom: 10px;
        justify-content: center;
    }
    #Catagories-content{
        display: none;
    }
    .Catagories{
        height: 180px;
        width: 150px;
    }
    .Catagories img{
        float: center;
    }
}
@media only screen and (min-width: 1100px){
    #header-mobile{
        display: none;
    }
    #banner-btn-mobile{
        display: none;
    }
    #Catagories-content-mobile{
        display: none;
    }
}